
.settings .icon {
    width: 25px;
    height: 25px;
}

.settings .head {
    padding-bottom: 20px;
}

.settings .head #page {
    font-size: 20px;
    font-weight: 500;
}


.settings .body .profile {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;

}

.settings .profile:hover {
    background-color: #dadfe7;
}
.settings .profile img {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
}

.settings .profile__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 4px;
}

.settings .profile .user {
    text-transform: capitalize;
    font-size: 18px;
}

.settings .profile .bio {
    color: #616161;
}

.settings .body .line {
    margin-top: 10px;
    height: 1px;
    background-color: #dadfe7;
}


.settings .footer {
    padding-top: 20px;
    padding-bottom: 20px;
}



.settings .btn {
    padding-left: 10px;
    border: none;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    color: red;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
}

.settings .btn:hover {
    background-color: #dadfe7;
}