@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --dark-blue: #4067ec;
  --dark-blue-secondary: #132c81;

  --border-radius: 4px;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Inter", "Jost", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.page .icon {
  width: 80px;
  height: 80px;
}

.page .title {
  font-size: 30px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.page .subtitle__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page .subtitle {
  font-size: 16px;
  font-weight: 300;
}

.content {
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 71px;
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 100%;
  padding: 30px 25px;
  z-index: 1;
}